<div class="center hero-unit">
  <h1>Welcome to the 1+1 Assigner</h1>

  <h2>
    This is the home page for the 1+1 assignment for Gagan Gupta.
  </h2>

  <%= link_to "Add Member", add_member_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Add Team", add_team_path, class: "btn btn-large btn-primary" %>
  
  <br><br>
   <% Team.all.each do |team| %>
    <ul>
      Team <%= team.id %>: <%= link_to team.team_name, team %>
      <% team.user2s.all.each do |user| %>
      	<ul>
      		<%= link_to user.name, user %>
      	</ul>
      <% end %>
    </ul> <br> 
  <% end %>
</div>